@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);

/* Homepage */
/* Mobile Media Query Homepage */
@media screen and (max-width: 969px) {
 
  .glasses {
    width: 80%;
    margin-bottom: 0;
    opacity: 0;
  }
 
  .cool {
    opacity: 0;
  }
  
}

.cool {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-size: .98em;
  color: #727072;
  margin: -24em;
  line-height: 2.2em;
}

span {
  font-weight: 100;
  letter-spacing: .08em;
  font-size: .8em;
}

.freakinbutton {
  margin-top: 35em;
  text-align: center;
}

button {
  width: 10em;
  height: 2em;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-size: .98em;
  color: #727072;
  background: white;
  border: .08em solid #727072;z
  -webkit-transition-duration: 0.6s; /* Safari */
  transition-duration: 0.6s;
}

button:hover {
  background: #C3F3EC;
  color: #727072;
  border: .01em solid;
}

button:visited {
  color: #727072;
  background: white;
  border: .08em solid #727072;
}

/* Glasses Photo */
.yup {
  text-align: center;
}

.glasses {
  margin: 3em auto;
  width: 100%;
}

/* Logo */
.icon-1 img {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
  margin-top: 26px;
}

/* About and Resume */

  .selfie {
  width: 80%;
  margin: 0 auto;
  margin-bottom: -10.13em;
}

 .photome {
  width: 20%;
  display: relative;
  margin-left: 8em;
  margin-top: 4em;
}

.about {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  letter-spacing: .02em;
  line-height: 1.5em;
  font-size: .93em;
  color: #727072;
  width: 45%;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  left: 8em;
  bottom: 21.6em;
}

h1{
  font-family: 'Raleway', sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: .1em;
  text-align: center;
  background: #C9C5CB;
  margin-top: 2em;
}

h2 {
  text-transform: uppercase;
  position: relative;
  color: #C9C5CB;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 8em;
  line-height: 1em;
  letter-spacing: .05em;
  margin-left: .5em;
  margin-top: -.5em;
  top: 1em;
}

h3 {
  text-transform: uppercase;
  color: #838E83;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1em;
  letter-spacing: .1em;
  margin: 0;
  margin-top: 3em;
}

h5 {
  text-transform: uppercase;
  font-style: italic;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: .7em;
  letter-spacing: .1em;
}

hr {
  color: #C3F3EC;
}

/* Mobile Media Query Resume */
@media screen and (max-width: 320px) {
 
  h5 {
    opacity: 0;
  }
 
  section {
    width: 100%;
    padding: 1em;
  }
  
  h3 {
    margin-top: 1em;
  }
  
  .specific {
    margin-bottom: 1em;
  }
}

.general {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  letter-spacing: .02em;
  line-height: 1.5em;
  font-size: .93em;
}

.specific {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  letter-spacing: .02em;
  line-height: 1.5em;
  font-size: .93em;
  margin-bottom: 4em;
}

#education {
  margin-top: .3em;
}

section {
  color: #727072;
  width: 45%;
  margin: 0 auto;
  padding: 10px;
}


/* Navigation */
nav {
  text-align: center;
}

nav a{
  font-size: .9em;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  letter-spacing: 2.3px;
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
}

a:link {
  color: #727072;
}

a:visited {
  color: #727072;
}

a:hover {
  color: white;
  background: #C9C5CB;
  transition: background .8s;
  padding: 10px;
}

.main li{
  display: inline-block;
  margin: 20px;
}

.main {
  list-style-type: none;
}

/* Portfolio */

@media screen and (max-width: 320px) {
  
  .gallery div{
    float: none;
  }
  
  .gone {
    opacity: 0;
  }
  
  .bottom {
    padding: 0;
  }
  
  .gallery img{
    width: 8em;
  }
}

.gallery {
  width: 52em;
  height: 30.3em;
  margin: 3em auto;
  overflow: visible;
  text-align: center;
}

.gallery div {
  position: relative;
  text-align: left;
  padding: 1em;
  float: left;
}

.gallery div:hover {
  z-index: 1;
}

.gallery img:hover {
  transform: scale(1.9,1.9);
  transition: transform .35s;
  overflow: visible;
}

.space {
  width: 100%;
  margin: -1em auto;
}

img {
  width: 15em;
  display: inline-block;
}

.bottom {
  padding: 5em 0 5em 0;
  margin: 0 auto;
  clear: both;
}

h4 {
  margin: 0 auto;
  text-align: center;
  color: #727072;
  font-size: .9em;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  letter-spacing: 2.3px;
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
}

/* Contact Form */
form {
  font-family: 'Raleway', sans-serif;
  display: relative;
  width: 60%;
  margin: 3em auto;
}

label, 
input,
textarea{
  font-weight: 100;
  font-size: .9em;
  color: #727072;
}

textarea {
  width: 100%;
  margin: 0 auto;
  margin-top: 1em;
  border: 1px solid #C9C5CB;
}

input[type="text"] {
  padding: 1em;
  border: 1px solid #C9C5CB;
  margin: 0 auto;
  float: right;
  width: 45.5%;
  margin-top: 3em;
}

.button {
  height: 2em;
  background: #C9C5CB;
  border: .07em solid #727072;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .04em;
  color: white;
}

input[type="email"] {
  border: 0;
  padding: 1em;
  border: 1px solid #C9C5CB;
  margin: 0 auto;
  width: 45.5%;
  margin-top: 3em;
}

input[type="submit"] {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 10em;
  margin-top: 1em;
}

:focus {
  background: #F7F9F9;
  transition: background .25s;
  outline: .16em #C3F3EC solid;
}

